body{
    background-color: #2a2d37;
    font-family: 'Hack', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #84aed9;
    font-size: 11px;
}
.center-me{
    min-width: 100px;
    max-width: 800px;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
li{
    display: inline;
}
li::after{
    content: ' // ';
    color: #94e0db;
}
li:last-child::after{
    content: '';
}
td{
    padding: 15px 0;
}
td.title{
    color: white;
    font-weight: bold;
    text-align: right;
    padding-right: 5px;
}
li.title::after{
    content: '';
}
a{
    color: #84aed9;
    text-decoration: none;
    padding: 0 5px;
}
a:hover{
    background-color: #94e0db;
    color: white;
}
input{
    background-color: transparent;
    border: solid 0px transparent;
    color: #94e0db;
    font-family: 'Hack', sans-serif;
    font-size: 11px;
    outline: none;
}
.settings{
    position: absolute;
    bottom: -200px;
    left: 0;
    right: 0;
    -webkit-transition: all cubic-bezier(0.48, -0.33, 0.58, 1.56) .15s;
    -o-transition: all cubic-bezier(0.48, -0.33, 0.58, 1.56) .15s;
    transition: all cubic-bezier(0.48, -0.33, 0.58, 1.56) .15s;
}
.settings>a{
    background-color: #363944;
    margin-left: 20px;
    margin-bottom: 20px;
    display: inline-block;
    cursor: pointer;
}
.settings>a:hover{
	background-color: #dca4f4;
}
.settings .panel {
    background-color: #363944;
    height: 200px;
    width: 100%;
}
